{% extends 'network/layout.html' %}
{% load static %}

{% block head %}
    <script>
        {# Pass context data from template to the JavaScript as global var #}
        var username = "{{ username|escapejs }}";
        var userDetailPath = "{% url 'user_detail' %}";
        var userUpdatePath = "{% url 'user_update' username %}";
        var profileUserFollows = "{{ profile_user.follows|escapejs }}";
        var userIsFollowing = {% if user.is_authenticated and user in profile_user.followers.all %}true{% else %}false{% endif %};
    </script>
    <script type="text/javascript" src="{% static 'profile.js' %}"></script>
{% endblock head %}

{% block body %}
    {# Body will be rendered on the client using JavaScript #}
{% endblock body %}